<!DOCTYPE html>
<html lang="en" style="max-width: 100vw !important; overflow-x: hidden !important; display: absolute">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Fullstack Developer, Data Scientist. Working with python, js and go">
  <meta name="keyword" content="portfolio, python, go, golang, javascript, developer">
  <meta property="og:title" content="Matthew Wisdom | Full Stack Web Developer and Data Scientist"/>
  <meta property="og:description" content="portfolio, python, go, golang, javascript, developer" />
  <meta property="og:image" content="https://matt-wisdom.github.io/static/images/me.jpg"/>
  <meta property="og:url" content="https://matt-wisdom.github.io" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Matthew Wisdom | Full Stack Web Developer and Data Scientist" />
  <meta name="twitter:description" content="Fullstack Developer, Data Scientist. Working with python, js and go"/>
  <meta name="twitter:image" content="https://matt-wisdom.github.io/static/images/me.jpg"/>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
  <link href="static/css/fontawesome.css" rel="stylesheet">
  <link href="static/css/brands.css" rel="stylesheet">
  <link href="static/css/solid.css" rel="stylesheet">
  <script src="static/js/vue.global.js"></script>
  <link rel="stylesheet" href="static/css/index.css">
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.1/dist/iconify-icon.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Montserrat:wght@400;800&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <title>Matthew Wisdom's Portfolio </title>
  <style>
    #today i {
      font-size: 6.5em;
    }

    #today .beside {
      font-size: 4em !important;
      margin-top: 1em;
      margin-left: -1em;
    }

    #other-days i {
      font-size: 2.5em;
    }

    #other-days .beside {
      font-size: 1em !important;
      margin-top: 0.3em;
      margin-left: -1em;
    }

    input:focus {
      outline-width: 0;
    }
  </style>
</head>

<body class="text-gray-100 absolute w-screen overflow-x-hidden">
  <main class="w-full" id="app">
    <section @click="showPreview=false" class="fixed flex items-center justify-between top-0 left-0 w-screen h-screen bg-gray-600 bg-opacity-50 shadow-lg" v-if="showPreview">
      <div class="overflow-y-scroll bg-white text-gray-800 py-3 rounded w-5/6 lg:w-3/5 h-5/6 lg:3/5 mx-auto" @click.stop="">
        <button @click="showPreview=false" class="fa fa-xmark float-right mr-4"></button>
        <h1 class="text-center text-4xl mb-4 mt-2 font-semibold">{{projectData.name}}</h1>
        <div class="flex flex-wrap px-7 lg:px-8">
            <div class="mx-auto w-full">
              <video controls loop autoplay class="w-full lg:w-4/5 mx-auto bg-gray-700" v-if="projectData.preview_type=='video'" :src="projectData.preview_link"></video>
              <img :alt='projectData.name' class="w-full h-full lg:w-4/5 mx-auto bg-gray-700" v-else-if="projectData.preview_type=='image'" :src="projectData.preview_link" />
            </div>
            <div class="w-full my-3">
              <center>
                <a :href="projectData.github" v-if="projectData.github"
                  class="px-4 rounded hover:bg-gray-500 bg-black text-white py-2">
                  <iconify-icon icon="akar-icons:github-fill" class="text-lg lg:text-2xl"></iconify-icon>
                </a>
                <a :href="projectData.demo_link"
                  v-if="projectData.demo_link"
                  class="ml-4 hover:bg-gray-500 px-6 cursor-pointer rounded bg-gray-700 text-white py-2 mt-4 md:mt-0">
                  Link
                </a>
              </center>
            </div>
            <div class="w-full mt-4" v-html="projectData.preview_text?projectData.preview_text:projectData.body">
            </div>
            <div class="mt-7">
              <h3 class="font-bold">Tech Used:</h3>
              <div class="w-full grid grid-cols-2 md:grid-cols-5">
                <a class="hover:text-green-300 pr-2 mt-3 text-lg text-green-500 break-words" v-for="st in projectData.stack">
                  {{st}}
                </a>
              </div>
            </div>
            
        </div>
      </div>
    </section>
    <section id="intro" class="w-full min-h-screen md:px-4" @click.stop="showMenu=false">
      <nav class="relative flex flex-wrap  justify-between py-2 mb-1">
        <div class="flex flex-wrap items-center justify-between">
          <div class="grid grid-rows-2">
            <a href="/index.html">
              <h1 class="text-5xl font-black col-span-2">Matthew Wisdom</h1>
            </a>
            <p class="text-xs">Web Developer and Data Scientist</p>
          </div>
          <div class="float-right">
            <button @click.stop="showMenu=!showMenu"
              class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
              type="button" v-on:click="toggleNavbar()">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <div @click.stop="" v-bind:class="{'hidden': !showMenu, 'flex': showMenu}"
            class="lg:flex lg:flex-grow h-fit pt-4 lg:pt-0 absolute lg:relative mx-0 lg:ml-44 bg-gray-700 lg:bg-transparent menu">
            <ul class="flex w-fit flex-col lg:bg-transparent py-2 lg:flex-row list-none font-semibold">
              <li class="nav-item">
                <a href="#skills" class="">Skills</a>
              </li>
              <li class="nav-item">
                <a href="#projects" class="">Projects</a>
              </li>
              <li class="nav-item">
                <a href="#contact" class="">Contact</a>
              </li>
<!--               <li class="nav-item">
                <a href="" class="">Resume</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>

      </nav>
      <section class="mt-2 lg:mt-24 mx-6 lg:mx-16 text-lg md:w-4/5 lg:w-3/5">
        <h1 class="text-4xl md:text-5xl mb-8 font-medium">Hello, I'm Wisdom 👋</h1>
        <p class="">
          I am a Full Stack Web Developer and Data Scientist, with
          experience developing <br> various kinds of applications with
          python, Javascript and Golang.<br>
          I also love contributing to open source projects.
        </p>
        <section class="social-links mt-8">
          <a :href="links.gh" class="">
            <i class="fa-brands fa-github"></i>
          </a>
          <a :href="links.mail" class="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          <a class="" :href="links.so">
            <i class="fab fa-stack-overflow"></i>
          </a>
          <a class="" :href="links.linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="" :href="links.fb">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="" :href="links.kaggle">
            <i class="fab fa-kaggle"></i>
          </a>
        </section>
      </section>
    </section>
    <!-- SKILLS -->
    <section id="skills" class="min-h-screen bg-gray-800 pt-2">
      <h2 class="text-5xl text-gray-200 mb-10 font-medium text-center">My Skills</h2>
      <!-- FULL STACK -->
      <div class="flex flex-wrap px-7">
        <div class="order-last lg:order-first pt-16 md:w-2/4 w-full">
          <img class="w-3/4 h-3/4" src="static/images/webdev.svg" alt="webdev skill">
        </div>
        <div class="skill-body h-full">
          <h3 class="text-3xl text-center">Full Stack Development</h3>
          <div class="mt-8 dev-icons break-all">
            <a class="">
              <iconify-icon icon="logos:python"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="cib:flask"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="simple-icons:fastapi"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="vscode-icons:file-type-html"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="vscode-icons:file-type-css"></iconify-icon>
            </a>
            <br>
            <a class="">
              <iconify-icon icon="vscode-icons:file-type-js-official"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:vue"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:nuxt-icon"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:tailwindcss-icon"></iconify-icon>
            </a>
            <!-- <a class="">
              <iconify-icon icon="logos:go"></iconify-icon>
            </a> -->
          </div>
          <div class="skill-text mt-6">
            <p class="">⚡ Build Restful APIs with Flask and FastAPI</p>
            <p class="">⚡ Experience creating beautiful responsive sites with VueJS & NuxtJS</p>
          </div>
        </div>
      </div>

      <!-- Data Science -->
      <div class="flex flex-wrap px-7 bg-gray-500 py-5">
        <div class="w-1/3 order-last pt-6 md:w-2/4 w-full">
          <img class="w-fit h-3/4" src="static/images/data_analysis.svg" alt="data science skills">
        </div>
        <div class="skill-body h-full">
          <h3 class="text-3xl text-center">Data Science And Machine Learning</h3>
          <div class="mt-8 dev-icons break-all">
            <a class="">
              <iconify-icon icon="logos:python"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="simple-icons:pandas"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:pytorch-icon"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="simple-icons:scikitlearn"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:seaborn-icon"></iconify-icon>
            </a>
            <br>
            <a class="">
              <iconify-icon icon="logos:matplotlib-icon"></iconify-icon>
            </a>
          </div>
          <div class="skill-text mt-6">
            <p class="">⚡ Analyzing, Visualizing and generating insight from data</p>
            <p class="">⚡ Experience developing and deploying various ML models for various tasks</p>
          </div>
        </div>
      </div>

      <!-- Devops Tech -->
      <div class="flex flex-wrap px-7 bg-gray-900 py-7">
        <div class="order-last lg:order-first pt-16 flex-auto md:w-2/4 w-full">
          <img class="w-3/4 h-3/4" src="static/images/devops.svg" alt="devops skills">
        </div>
        <div class="skill-body h-full flex-auto">
          <h3 class="text-3xl text-center">Devops</h3>
          <div class="mt-8 dev-icons break-all">
            <a class="">
              <iconify-icon icon="logos:docker"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="arcticons:git"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="akar-icons:github-fill"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="vscode-icons:file-type-jenkins"></iconify-icon>
            </a>
            <br>
            <a class="">
              <iconify-icon icon="logos:github-actions"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:heroku-icon"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:aws"></iconify-icon>
            </a>
            
          </div>
          <div class="skill-text mt-6">
            <p class="">⚡ Experience working with multiple cloud platforms like heroku, aws and koyeb</p>
            <p class="">⚡ Hosting and maintaining websites on virtual machine instances along <br> with integration of
              databases</p>
            <p class="">⚡ Experience setting up CI/CD piplelines for automated testing and deployment<br> with Github
              Actions and Jenkins</p>
            <p class="">⚡ Currently learning about kubernetes</p>
          </div>
        </div>
      </div>

      <!-- Database -->
      <div class="flex flex-wrap px-7">
        <div class="w-1/3 order-last pt-6 md:w-2/4 w-full">
          <img class="w-fit h-3/4" src="static/images/data_analysis.svg" alt="skills">
        </div>
        <div class="skill-body h-full">
          <h3 class="text-3xl text-center">Database Systems</h3>
          <div class="mt-8 dev-icons break-all">
            <a class="">
              <iconify-icon icon="logos:postgresql"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="vscode-icons:file-type-sqlite"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:redis"></iconify-icon>
            </a>
            <a class="">
              <iconify-icon icon="logos:mongodb-icon"></iconify-icon>
            </a>
          </div>
          <div class="skill-text mt-6">
            <p class="">⚡ Experience setting up and integrating SQL and NoSQL databases in
              <br>various applications.
            </p>
            <!-- <p class="">⚡ Experience setting up and using PubSub </p> -->
          </div>
        </div>
      </div>
    </section>
    <!-- Projects -->
    <section id="projects" class="min-h-screen pb-4 text-gray-900 bg-gray-200 pt-2 mb-0 lg:pl-28">
      <h2 class="text-5xl mb-10 font-medium text-center">Featured Projects</h2>
      <section class="flex flex-wrap lg:px-20 text-gray-700">
        <div v-for="project in projects"
          class="md:px-6 px-3 ml-6 lg:ml-6 mt-4 py-6 shadow-xl rounded-lg bg-white min-h-64 w-5/6 lg:w-2/5">
          <h3 class="text-3xl">{{project.name}}</h3>
          <p class="my-5 max-w-full">
            {{project.body}}
          </p>
          <div class="">
            <a :href="project.github" v-if="project.github"
              class="px-4 rounded hover:bg-gray-500 bg-black text-white py-2">
              <iconify-icon icon="akar-icons:github-fill" class="text-lg lg:text-2xl"></iconify-icon>
            </a>
            <a @click="viewPreview(project)"
              class="ml-4 hover:bg-gray-500 px-6 cursor-pointer rounded bg-gray-700 text-white py-2 mt-4 md:mt-0">
              Preview
            </a>
          </div>
          <div class="text-sm mt-4 break-words cursor-pointer">
            Tech used:
            <a class="ml-2 hover:text-green-300 text-green-500" v-for="st in project.stack">
              {{st}}
            </a>
          </div>
        </div>
      </section>
      <!-- <div class="my-5 w-full flex">
        <button class="mx-auto lg:-ml-4 block px-3 py-2 bg-gray-700 text-white text-lg">See More</button>
      </div> -->
    </section>
    </section>
    <section id="contact" class="bg-gray-800 flex flex-wrap pb-10 text-gray-200 bg-gray-200 pt-16 px-2 lg:px-16">
      <div class="md:w-2/3">
        <h3 class="text-4xl">Reach Out</h3>
        <p class="lg:text-lg mt-8">
          Want to discuss a project or just say Hi?<br>
          I am always available via my social media links.
        </p>
        <section class="social-links mt-8">
          <a :href="links.gh" class="">
            <i class="fa-brands fa-github"></i>
          </a>
          <a :href="links.mail" class="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          <a class="" :href="links.so">
            <i class="fab fa-stack-overflow"></i>
          </a>
          <a class="" :href="links.linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="" :href="links.fb">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="" :href="links.kaggle">
            <i class="fab fa-kaggle"></i>
          </a>
        </div>
        <div class="md:w-1/3 px-6">
          <img src="static/images/me.jpg" alt="Wisdom Matthew" class="object-fit object-cover rounded-full md:w-56 md:h-56 mt-10 md:mt-2 h-28 w-28">
        </div>
      </section>
    </section>
  </main>
  <footer class="bg-gray-800">
    <section>
      <center>
        Matthew Wisdom
        <!-- <a href="https://www.github.com/matt-wisdom" class="">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="mailto:matthewwisdom11@gmail.com" class="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a class="">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a> -->
      </center>
    </section>
  </footer>
  <script>
    const { createApp } = Vue
    createApp({
      data() {
        return {
          showMenu: false,
          showPreview: false,
          projectData: {},
          links: {
              gh: "https://www.github.com/matt-wisdom",
              mail: "mailto:matthewwisdom11@gmail.com",
              so: "https://stackoverflow.com/users/16442723/matthew-wisdom",
              linkedin: "https://www.linkedin.com/in/matthew-wisdom-91a5631bb/",
              fb: "",
              kaggle: "https://www.kaggle.com/matthewwisdom"
          },
          projects: [
            {
              name: "Kwizzly",
              body: "Multiplayer real time quiz game with web and telegram bot interface",
              github: "https://github.com/matt-wisdom/Kwizzly",
              demo_link: null,
              demo_data: "",
              stack: ["fastapi", "telethon", "vuejs", "redis", "mongodb", "websockets"],
              preview_type: "video",
              preview_link: "static/videos/kwizzly.mp4",
              preview_text: `<b>Kwizzly</b> is a side project I made a while ago to test my skills and learn. Its a quiz game app you can play via a web site or telegram.<br>
              You face off against an opponent using telegram or the web app regardless of which platform you're on.<br>
              You can also create quizes via the web app interface only.<br>
              Its currently not hosted live, but you can access the repo and run it locally with docker-compose.
              `
            },
            {
              name: "AIBauchi",
              body: "Official website for AI Saturdays Bauchi",
              github: "https://github.com/matt-wisdom/file_organizer",
              demo_link: "https://github.com/AIBauchi/AIBauchiFrontend",
              demo_data: "",
              stack: ["nuxtjs", "javascript", "strapi-cms"],
              preview_type: "image",
              preview_link: "static/images/aisaturdays.jpg",
              preview_text: `<b>AIBauchi</b> is a community of Machine Learning and AI enthusiastic students under the umbrella
              of AISaturdays of which I am part of and I'm an Instructor.<br>`
            },
            {
              name: "Weather Forecaster",
              body: "Machine Learning based weather forecasting web app",
              github: "",
              demo_link: "https://weatherapi-mattwisdom111.koyeb.app/",
              demo_data: "",
              stack: ["scikit-learn ", "flask", "pandas"],
              preview_type: "image",
              preview_link: "static/images/weather.jpg",
              preview_text: ""
            },
            {
              name: "AI/DS Notebooks",
              body: "A collection of my AI/Data Science Jupyter notebooks",
              github: "https://github.com/matt-wisdom/AI-and-DS-Notebooks",
              demo_link: "",
              demo_data: "",
              stack: ["python", "jupyter-notebooks"],
              preview_type: null,
              preview_link: "",
              preview_text: ""
            },
            {
              name: "Mesh999",
              body: "Web client for pcloud for organizing files, advanced searching, duplicates removal and more across multiple accounts",
              github: "",
              demo_link: "",
              demo_data: "",
              stack: ["fastapi", "pcloud-api", "vue"],
              preview_type: "image",
              preview_link: "static/images/mesh.jpg",
              preview_text: ""
            },
            //                {
            //                 name: "Feed Telebot",
            //                  body: "Telegram bot to send rss feed updates",
            //                  github: "https://github.com/matt-wisdom/file_organizer",
            //                  demo_link: "https://github.com/matt-wisdom/file_organizer",
            //                  demo_data: "",
            //                  stack: ["python", "telethon", "rss feeds"]
            //},
            {
              name: "ARadio",
              body: "Radio app built with WebRTC and Janus",
              github: "https://github.com/matt-wisdom/aradio",
              demo_link: "",
              demo_data: "",
              stack: ["flask", "ffmpeg", "vuejs", "janus", "webrtc", "redis", "rtsp-streaming"],
              preview_type: "image",
              preview_link: "static/images/aradio.jpg",
              preview_text: ""
            },

            {
              name: "PreviewAPI",
              body: "API for generating gif/mp4 previews of videos",
              github: "https://github.com/matt-wisdom/file_organizer",
              demo_link: "https://github.com/matt-wisdom/file_organizer",
              demo_data: "",
              stack: ["flask", "ffmpeg", "opencv"],
              preview_type: "none",
              preview_link: "",
              preview_text: ""
            },
            {
              name: "File organizer",
              body: "An extensible file searching and organization tool with a couple of features including but not limited to fuzzy search",
              github: "https://github.com/matt-wisdom/file_organizer",
              demo_link: "https://github.com/matt-wisdom/file_organizer",
              demo_data: "",
              stack: ["python"],
              preview_type: null,
              preview_link: "pypi",
              preview_text: ""
            },
            {
              name: "PQHaven",
              body: "Web App to help students of Abubakar Tafawa Balewa University Engineering Faculty take past question based tests.",
              github: "https://github.com/matt-wisdom/file_organizer",
              demo_link: "https://github.com/matt-wisdom/file_organizer",
              demo_data: "",
              stack: ["flask", "materializecss"],
              preview_type: null,
              preview_link: "",
              preview_text: ""
            },
          ]
        }
      },
      mounted() {
      },
      methods: {
        viewPreview(data){
          this.projectData = data
          this.showPreview = true
        }
      }
    }).mount('#app');
  </script>
</body>

</html>
